<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chat App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-input [(ngModel)]="usuario" placeholder="Ingrese su nombre..."></ion-input>

  <div id="container">
    <div  #divMessages></div>
    
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="10">
          <ion-item>
            <ion-label position="stacked">Mensaje:</ion-label>
            <ion-textarea [(ngModel)]="message" placeholder="placeholder"></ion-textarea>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-button (click)="sendMessage()" expand="block" fill="clear" shape="round">
            Enviar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
